@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


// Variables
$bg-pattern: url('images/pattern-bg.png');
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

$mediaBreakpoints: (
    mobile: 12.4375rem,
    tablet: 48rem,
    desktop-sm: 64rem
);

// Mixins
@mixin mainFont($weight, $size) {
    font-family: 'Rubik', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin media-query($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content; //content is a placeholder for our styles like text-align o.e.
    }
}



// Styling

html, * {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    height: 5vh; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.header {
    padding: 2rem 0 10rem;
    background-image: url('images/pattern-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    @include media-query(tablet) {
        padding-bottom: 8rem;
    }

    @include media-query(desktop-sm) {
        padding-bottom: 6rem;
        background-position: center right;
    }

    &__title {
        @include mainFont(500, 1.7rem);
        color: white;
        text-align: center;
        line-height: 100%;
        margin: 0;
    }
}

.search-form {
    width: Min(31.25rem, 90%);
    margin: 1.5rem auto;
    position: relative;

    &__input {
        @include mainFont(400, 1rem);
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: .8rem;
        border: none;
        outline: none;

        &::placeholder {
            color: $dark-gray;
        }

        @include media-query(desktop-sm) {
            font-size: 1rem;
        }
    }
}

.button {
    height: 100%;
    width: 3.125rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 0 .8rem .8rem 0;
    cursor: pointer;

    &:hover {
        background-color: $very-dark-gray;
    }

    &__icon {
        transform: scale(.9);
    }
}

.detail-container {
    width: Min(64rem, 90%);
    background-color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: .8rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    z-index: 999;

    display: grid;
    grid-gap: 1rem;

    @include media-query(tablet) {
        padding: 3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: left;
        grid-gap: 2rem;
    }

    @include media-query(desktop-sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

.detail {
    @include media-query(tablet) {
        &:nth-child(odd) {
            border-right: 1px solid $dark-gray;
        }
    }

    @include media-query(desktop-sm) {
        &:not(:last-child) {
            border-right: 1px solid $dark-gray;
        }
    }

    &__title {
        @include mainFont(500, .7rem);
        text-transform: uppercase;
        color: $dark-gray;
        margin: 0;
        letter-spacing: 1px;

        @include media-query(desktop-sm) {
            font-size: .8rem;
        }
    }

    &__description {
        @include mainFont(500, 1.3rem);
        color: $very-dark-gray;
        margin: .5rem 0;

        @include media-query(desktop-sm) {
            width: 70%;
            font-size: 1.5rem;
        }
    }
}

#map {
    width: 100%;
    height: 500px;
    z-index: 1;
}